<br />
<br />
<footer>

    <div class="pull-right">
        <strong>&copy; @DateTime.Now.Year.ToString() <a href="http://www.google.com/" target="_blank">ABC. Ltd.</a></strong> All rights reserved.
    </div>
    <div class="clearfix"></div>
</footer>